# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / pnpm
node_modules
.pnpm-debug.log*
.pnpm-store/

# Build output
dist
dist-ssr
build
*.local

# IDE Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / misc
.DS_Store
Thumbs.db

# Templates files
templates/**/public/manifest.json

# e2e
tests/e2e/pack/**
tests/e2e/**/public/manifest.json